<template>
	<v-app>
		<v-toolbar color="primary">
			<router-link to="/">
				<v-toolbar-title class="white--text">CRAManager</v-toolbar-title>
			</router-link>
			
			<div v-if="isLoggedIn()">
				<v-menu :nudge-width="100">
					<v-toolbar-title  slot="activator">
						<span>Projets</span>
						<v-icon>arrow_drop_down</v-icon>
					</v-toolbar-title>
					<v-list>
						<v-list-tile key="test" @click="">
							<v-list-tile-title>Test</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>
				
				<v-menu :nudge-width="100">
					<v-toolbar-title  slot="activator">
						<span>Clients</span>
						<v-icon>arrow_drop_down</v-icon>
					</v-toolbar-title>
					<v-list>
						<v-list-tile key="test" @click="">
							<v-list-tile-title>Test</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>

				<v-menu :nudge-width="100">
					<v-toolbar-title  slot="activator">
						<span>Intervenants</span>
						<v-icon>arrow_drop_down</v-icon>
					</v-toolbar-title>
					<v-list>
						<v-list-tile key="test" @click="">
							<v-list-tile-title>Test</v-list-tile-title>
						</v-list-tile>
					</v-list>
				</v-menu>

				<v-menu :nudge-width="100">
					<v-toolbar-title  slot="activator">
						<span>Utilisateurs</span>
						<v-icon>arrow_drop_down</v-icon>
					</v-toolbar-title>
					<v-list>
						<v-list-tile key="create" @click="">
							<router-link :to="{'name': 'CreateUser'}">
								<v-list-tile-title>
									Créer un nouvel utilisateur
								</v-list-tile-title>
							</router-link>
						</v-list-tile>
					</v-list>
				</v-menu>
			</div>

			<v-spacer></v-spacer>
				
			<v-toolbar-items v-if="isLoggedIn()">
				<v-btn flat @click="logOut()">Se déconnecter</v-btn>
			</v-toolbar-items>
		</v-toolbar>

		
		<!-- Main content -->
		<v-content>
			<router-view/>
		</v-content>
		
		<v-footer>
			<span>&copy; 2017</span>
		</v-footer>
	</v-app>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.list a {
		text-decoration: none;
	}
</style>

<script>
export default {
	data () {
		return {
			
		}
	},
	methods: {

	},
	name: 'App'
}
</script>
