<template>
	<v-container fluid>
		
		<v-snackbar
		:timeout="error.timeout"
		:top="error.top"
		:multi-line="error.multiline"
		:color="error.color"
		v-model="error.snackbar"
		>
		{{ error.errorMessage }}
		</v-snackbar>

		<v-layout column align-center>
			<v-flex xs12>
				<h1>Créer un nouvel utilisateur</h1>
			</v-flex>
		</v-layout>

		<v-layout row wrap>
			<v-flex xs12 md8>
				<h1>Champs</h1>
			</v-flex>
			<v-flex xs12 md4>
				<h1>Rôle</h1>
			</v-flex>
		</v-layout>

	</v-container>
</template>

<script>
export default {
	data () {
		return {
			error: {
				timeout: 6000,
				top: true,
				snackbar: false,
				errorMessage: "",
				multiline: true,
				color: "red"
			}
		}
	},
	name: 'Login',

	methods: {
		submit () {
			// Login axios call here

			// Si erreur:
			//this.$data.error.snackbar = true;
		}
	}
}
</script>
