<template>
	<v-container fluid grid-list-md>
		<v-layout row wrap>
			<v-flex xs12 md6>
				<v-card>
					<v-card-title primary-title style="background-color: red">
						<div class="headline">CRAs à exporter</div>
					</v-card-title>
					
					<!-- table Exports -->
					<v-data-table
					:headers="tableExports.headers"
					:items="tableExports.items"
					:search="tableExports.search"
					:pagination.sync="tableExports.pagination"
					class="elevation-1"
					hide-actions
					>
						<template slot="headerCell" slot-scope="props">
							{{ props.header.text }}
						</template>

						<template slot="items" slot-scope="props">
							<td width="10%">{{ props.item.id }}</td>
							<td class="text-xs-right">{{ props.item.name }}</td>
							<td class="text-xs-right">{{ props.item.validatedBy }}</td>
							
							<td class="justify-center layout px-0">
								<v-btn icon class="mx-0">
									<v-icon color="teal">edit</v-icon>
								</v-btn>
							</td>
						</template>
					</v-data-table>
					<div class="text-xs-center pt-2">
						<v-pagination v-model="tableExports.pagination.page" :length="pagesTableExports"></v-pagination>
					</div>

				</v-card>
			</v-flex>
			<v-flex xs12 md6>
				
			</v-flex>
			<v-flex xs12 md6>
				Test bla bla bla bla bla
			</v-flex>
			<v-flex xs12 md6>
				Test bla bla bla bla bla
			</v-flex>
		</v-layout>
	</v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.headline {
		margin: auto;
	}

	.table__overflow {
		overflow-x: hidden;
	}
</style>


<script>
export default {
	data () {
		return {
			tableExports: {
				search: '',
				pagination: {},
				selected: [],
				headers: [
					{ text: '#', align: 'left', value: 'id'},
					{ text: 'Projet', value: 'name' },
					{ text: 'Validé par', value: 'validatedBy' },
					{ text: 'Actions', value: 'name', sortable: false }
				],
				items: [
					{
						id: 1,
						name: 'Projet 1',
						validatedBy: 'Baptiste'
						
					},
					{
						id: 2,
						name: 'Projet 2',
						validatedBy: 'Baptiste'
						
					}
				]
			},

			tableToValidate: {

			},

			tableOpenProjects: {

			},

			tableClosedProjects: {

			}
		}
	},
	name: 'Home',

	computed: {
		pagesTableExports () {
		if (this.tableExports.pagination.rowsPerPage == null ||
			this.tableExports.pagination.totalItems == null
		) return 0

			return Math.ceil(this.tableExports.pagination.totalItems / this.tableExports.pagination.rowsPerPage)
		}
	}
}
</script>
