<template>
	<v-container fluid>
		
		<v-snackbar
		:timeout="error.timeout"
		:top="error.top"
		:multi-line="error.multiline"
		:color="error.color"
		v-model="error.snackbar"
		>
		{{ error.errorMessage }}
		</v-snackbar>

		<v-layout column align-center>
			<div>
				S'authentifier:
			</div>
			<v-form>
				<v-text-field
				label="Login"
				required
				></v-text-field>
				
				<v-text-field
				name="input-password"
				label="Entrez votre mot de passe"
				hint="Minimum 6 caractères"
				:append-icon="passwordVisible ? 'visibility' : 'visibility_off'"
				:append-icon-cb="() => (passwordVisible = !passwordVisible)"
				:type="passwordVisible ? 'text' : 'password'"
				single-line
				required
				></v-text-field>
			</v-form>
			
			<v-btn @click="submit"> Se connecter</v-btn>
			<v-btn outline color="indigo">Mot de passe oublié</v-btn>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data () {
		return {
			passwordVisible: false,
			error: {
				timeout: 6000,
				top: true,
				snackbar: false,
				errorMessage: "Erreur : Couple login/mot de passe incorrect",
				multiline: true,
				color: "red"
			}
		}
	},
	name: 'Login',

	methods: {
		submit () {
			// Login axios call here

			// Si erreur:
			//this.$data.error.snackbar = true;
			
			// For now fake account
			this.$globalStore.profile = {
				"isActivated": true,
				"login": "Genroa",
				"password": "test",
				"email": "lol@gmail.com",
				"firstName": "Baptiste",
				"lastName": "Blanchard",
				"deactivationDate": 1544572800000,
				"role": "DIRECTOR"
			};

			this.$router.push("/");
		}
	}
}
</script>
